/************************************************
common styles
*************************************************/

* {
	margin: 	0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}



body {
	background-color: #fff;
	color: #181818;
	font-family: 'Roboto', sans-serif;
	font-weight: 400; 
	font-size: 20px;
	text-rendering: optimizeLegibility; /*Оптимизировать разборчивость текста*/
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

h1 {
	margin: 0;
}

h2 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.179487em;
	text-align: center;
	margin-bottom: 30px;
}

h2:after {
	display: block;
	height: 1px;
	background-color: #000;
	content: "";
	width: 500px;
	margin: 5px auto;
}

h3 {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 2px;
	text-align: center;
	font-size: 80%;
	margin-bottom: 30px;
	margin-top: 20px;

}

header {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.5))), url(../image/header-bg.jpg);
	background-image: -o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../image/header-bg.jpg);
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../image/header-bg.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh; /*высота 100% высоты окна просмотра*/
	background-attachment: fixed;
}



a {
	text-decoration: none;
}

section {
	padding: 100px 0;
	clear: both;
}







/**************************************************
очистка св-ва флоат
***************************************************/

.float-clearing {
	zoom: 1;
}

.float-clearing:after {
	zoom: 1;
	content: " ";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
/**************************************************

***************************************************/













/**************************************************
grid view
***************************************************/

[class*="col-"] {
  float: left;
  padding: 3%;
 
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



/**************************************************
header
***************************************************/
.header-text {
	padding-top: 150px;
	margin-left: 8.33%;
}

.header-title {
	background-color: #fff;
	max-width: 35%;
	padding: 15px;

	text-transform: uppercase;
	letter-spacing: 0.179487em;
	line-height: 1.5vw;
	font-weight: 400;
	font-style: normal;
	font-size: 2.0vw;
	

}

.header-headline {
	margin-top: 20px;
	background-color: #fff;
	padding: 15px;
	max-width: 25%;
	

	font-size: 80%;

}

nav {
	height: 70px;
	background-color: white;
	text-transform: uppercase;
	padding: 25px 80px;
}

.mobile-nav-icon {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 20px;
	margin-top: 11px;
	cursor: pointer;
	display: none;
}

.mobile-nav-icon i {
	font-size: 200%;
}






.logo-text {
	float: left;
	font-size: 80%;

	letter-spacing: 12px;
    font-weight: 400;
    font-style: normal;
}

.logo-text a {
	color: #171717;
}


.main-nav {
	float: right;
	list-style: none;
	color: #171717;
}

.main-nav li {
	display: inline-block;
	margin-left: 30px;
	font-size: 60%;
	
	letter-spacing: 3px;
 }

  .main-nav a {
 	color: #171717;
 	-webkit-transition: color 0.5s, letter-spacing 0.5s;
 	-o-transition: color 0.5s, letter-spacing 0.5s;
 	transition: color 0.5s, letter-spacing 0.5s;
 }



 .main-nav a:hover {
 	color: #d7d7d7;
 	letter-spacing: 4px;
 }


 #sticky-nav {
 	position: fixed;
 	top: 0; 
 	left: 0;
 	width: 100%;

 	z-index: 100; /**чтобы при прокруте мимо галереи меню было белым**/
 	box-shadow: 0 2px 2px #eae3e3;
 }





/********************************************************
features styles
**********************************************************/

.headline-text {
	text-align: center;
	margin-bottom: 50px;
	letter-spacing: 0.5px;
	font-weight: 400;

}

.features-icon {
	font-size: 150%;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

#restaurant-description p {
	font-weight: 300;
	font-size: 90%;
	margin-bottom: 70px;
}





/********************************************************
food-images styles
*********************************************************/

.images-container {

	list-style: none;
	width: 100%;
}

.images-container li {
	display: block;
	float: left;
	width: 25%;
}

.food-image {
	width: 100%;
	overflow: hidden; /*изображение без этого параметра выходит из контейнера, а он его скрывает*/
	background-color: black;
}



.food-image img {
	opacity: 0.7;
	width: 100%;
	height: auto;
	-webkit-transform: scale(1.3);
	    -ms-transform: scale(1.3);
	        transform: scale(1.3);
	-webkit-transition: opacity 1s, -webkit-transform 0.7s;
	transition: opacity 1s, -webkit-transform 0.7s;
	-o-transition: opacity 1s, transform 0.7s;
	transition: opacity 1s, transform 0.7s;
	transition: opacity 1s, transform 0.7s, -webkit-transform 0.7s;
	
}


.food-image img:hover {
	opacity: 1;
	-webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
	
}



/********************************************************
city styles
*********************************************************/

#cities-section {

	background-color: #f5f5f5;
}

.col-3 img {
	width: 100%;
	

}

.city-info {
	font-weight: 300;
	letter-spacing: 1px;
	word-spacing: 2px;
	
	font-size: 70%;
	margin-bottom: 10px;
	}










/********************************************************
order styles
*********************************************************/


.phone-image-container {
	margin-left: 10%;
	margin-right: 10%;
	margin: 0 auto;
	display: inline-block;
	text-align: center;

}




.phone-image {
 	width: 60%;
	height: auto;
	margin: 
 }


.order-step {
	margin-top: 80px;
}

.order-step div {
	border: 2px solid;
	width: 30px;
	height: 30px;
	border-radius: 150px;
	text-align: center;

	display: inline-block;
	float: left;
	margin-right: 20px;
}

.order-step p {
	padding-top: 2px;
}


.app-button img {
	height: 50px;
	margin-right: 10px;
	
}

.order-step:last-of-type {
	margin-bottom: 100px;
}








/********************************************************
feedback styles
*********************************************************/

.feedback-section {
	background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.5))), url(../image/sushi-2853382-1920.jpg);
	background:-o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../image/sushi-2853382-1920.jpg);
	background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../image/sushi-2853382-1920.jpg);
	background-size: cover;
	background-position: center;
	height: 100%; /*высота 100% высоты окна просмотра*/
	background-attachment: fixed;
}

.feedback-section h2 {
	color: #fff;
}

.feedback-section h2:after {
	display: block;
	height: 1px;
	background-color: #fff;
	content: "";
	width: 500px;
	margin: 5px auto;
}

 .feedback-section blockquote {
	color: #fff;
	

	font-weight: 400;
	letter-spacing: 1.5px;
	word-spacing: 3px;
	line-height: 150%;
	
	font-size: 80%;
}

cite {
	display: block;
	text-align: center;
	margin-bottom:  50px;
}

cite img {
	
	width: 100px;
	border: 3px solid #fff;
	border-radius: 150px;
	
}

blockquote div:before {
	content: "\0022";
	font-size: 200%;
}

blockquote div:after {
	content: "\0022";
	font-size: 200%;
}






/********************************************************
contact form styles
*********************************************************/




#contact-form-section {
	background-color: #f5f5f5;
}

.contact-form {
	width: 50%;
	margin:  100px auto;
	font-size: 85%;
}

input[type=text],
input[type=email],  
select, 
textarea {
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	border: 1.5px solid #f0f0f0;
}

textarea {
	height: 150px;
	resize: none;
}


input[type=submit] {
	
	display: inline-block;
	padding: 3px 30px;
	text-decoration: none;
	color: #000;
	background-color: #f0f0f0;
	border-radius: 150px;
	-webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
	-o-transition: background-color 0.3s, border 0.3s, color 0.3s;
	transition: background-color 0.3s, border 0.3s, color 0.3s;
	letter-spacing: 1px;
	font-weight: 300;
}

input[type=submit]:hover,
input[type=submit]:active {
	border: 2px solid #c8c8c8;
	color: #c8c8c8;
	
}



/********************************************************
footer styles
*********************************************************/


footer {
	text-align: center;
	padding: 100px 0;
	color: #fff;
	background-color: #000;
}

.footer-nav {
	margin-bottom: 30px;

}

.footer-nav a {
	cursor: pointer;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 300;
	-webkit-transition: color 0.5s, letter-spacing 0.5s;
	-o-transition: color 0.5s, letter-spacing 0.5s;
	transition: color 0.5s, letter-spacing 0.5s;
}

.footer-nav a:hover, 
.footer-nav a:active {
	color: #f5f5f5;
	letter-spacing: 2px;
}



.footer-social-links {
	margin-bottom: 30px; 
	list-style: none;
	color: #171717;
}

.footer-social-links li {
	display: inline-block;
	margin: 0 30px;
	font-size: 100%;
	letter-spacing: 3px;
	
 }

.footer-social-links li a
 {
color: #fff;
 }

.footer-text {
	letter-spacing: 1px;
	font-weight: 300;
	color: #fff;
	font-size: 70%;
}



/********************************************************
animation styles
*********************************************************/

.anim1,
.anim2 {
	opacity: 0;
}

.anim1.animated,
.anim2.animated {
	opacity: 1;

}








/********************************************************
media query styles
*********************************************************/


@media only screen and (max-width: 960px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .header-title {
	line-height: 3vw;
	}

	.header-headline {

	background-color: #fff;
	padding: 15px;
	max-width: 30%;
	font-size: 50%;
	line-height: 5vw;
}

	.restaurant-description p {
	margin: 0 15px 70px;
	}

	#cities-section img {
		margin-top: 50px;
	}

	.phone-image {
 	width: 100%;
	height: auto;
	}

	.contact-form {
	width: 80%;
}

.mobile-nav-icon {
	display: inline-block;
}

.main-nav {
float: right;
margin-top: 30px;

display: none;
}

.main-nav li {
	display: block;
	padding: 10px 0;
}

.main-nav li:link,
.main-nav li: visited{
	display: block;
}

}

/********************************************************
animation styles
*********************************************************/

.anim1,
.anim2,
.anim3 {
	opacity: 0;
}

.anim1.animated,
.anim2.animated,
.anim3.animated,
{
	opacity: 1;
}

.anim2.animated, {
	animation-duration: 0.5s;
}













